
body{
  min-height: 100vh;
  display: grid;
  place-content: center;
  margin: 0;
  background-repeat: no-repeat;
  font-family: 'Outfit', sans-serif;
background-color: hsl(217, 54%, 11%);
}

main{
  width: 300px;
  height: 510px;
  border-radius: 5%;
  margin-bottom: 90px;
  margin-top: 90px;
  max-width: 350px;
  border-radius: 20px;
  line-height: 1;
  margin: 1rem;
  overflow: hidden;
  background-color:hsl(216, 50%, 16%);
  text-align: center;
}

h1{
  font-size: 1.5rem;
  font-weight: 400;
  color:hsl(0, 0%, 100%);
  text-align: left;
  margin-left: 25px;
}

h1:hover {
color:hsl(178, 100%, 50%);
cursor:pointer;
}

p{
  font-size: 1rem;
  font-weight: 400;
  color:hsl(215, 51%, 70%);
  text-align: left;
  margin-left: 25px;
}

hr{
  color:hsl(215, 32%, 27%);
}

.img-wrapper {
  width: 250px;
  height: 250px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px auto;
}
.img-wrapper .image-equilibrium{
  width: 100%;
  height: 100%;
}
.overlay {
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.img-wrapper:hover .overlay {
  opacity: 1;
}


.eth {
  color:hsl(178, 100%, 50%);
    margin-left: 25px;
    font-size: 0.8rem;
    font-weight: 400;
}


.nft {
  display:flex;
  justify-content: space-around;
  align-items: center;
}


.days{
  margin-top:10px;
  font-size: 0.8rem;
  font-weight: 400;
}

.icon{
  margin:5px;

}

.avatar{
  display:flex;
  width:50px;
  height:50px;
  text-align: left;
  margin-left:10px;
  margin-bottom:20px;
  border-radius: 100%;
  border:solid;
border-color: white;
}

.bottom{
display:flex;
justify-content: flex-start;
margin-left: 10px;
gap:1px;
}

.white{
  color:white;
}
.white:hover{
  color:hsl(178, 100%, 50%);
  cursor:pointer;
}

.attribution {
    font-size: 11px; text-align: center;
    color:white;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
